.DS_Store
.AppleDouble
.LSOverride

.vscode/
.history/
*.code-workspace

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.egg
*.egg-info/
dist/
build/

Pipfile.lock
poetry.lock

sdraft-env/

.env
.env.*
*.sqlite3
instance/
*.log

htmlcov/
.coverage
.tox/
.nox/
.cache/
pytest_cache/

*.pid
*.tar
*.gz
*.log
*.db
docker-compose.override.yml
